{% extends "base.html" %}

{%  block title %}
    Log in
{% endblock %}

{%  block content %}
    <main role="main">
        <div>
            <div>
                <h2>Log in</h2>
            </div>
            <div>
                <form method="post">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div>
                            {{ field.label_tag }}
                            {% if field.name == 'remember' %}
                                <span>{{ field }}</span>
                            {% else %}
                                <div>{{ field }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div>
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div>
                        <input type="submit" value="Log in" />
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}