{% extends "base.html" %}
{% load index %}

{%  block title %}
    {% if student is not None %}
        My {{ discipline }} Tasks
    {% else %}
        {{ student_argument.user.last_name }} {{ student_argument.user.first_name }} {{ disicpline }} Tasks
    {% endif %}
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1>
                    {% if student is not None %}
                        My {{ discipline }} Tasks
                    {% else %}
                        {{ student_argument.user.last_name }} {{ student_argument.user.first_name }} {{ disicpline }} Tasks
                    {% endif %}
                </h1>
            </div>
            {% if teacher is None and student is None %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    Ask the admin to give you access
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% elif teacher is not None and student_argument is None %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Discipline</th>
                            <th scope="col">Task</th>
                            <th scope="col">Description</th>
                            <th scope="col">Assignments (graded/total)</th>
                            <th scope="col">Average grade</th>
                        </tr>
                    </thead>
                        {% for obj in tasks %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th><a href="{% url 'discipline_teacher' pk=discipline.pk class=class.pk %}">{{ discipline }} {{ class }}</a></th>
                                    <th><a href="{% url 'task' pk=obj.pk class=class.pk %}">{{ obj.title }}</a></th>
                                    <td>{{ obj.description|truncatechars:50 }}</td>
                                    <td>{{ assignments_graded|index:forloop.counter0 }} /
                                        {{ assignments_total|index:forloop.counter0 }}</td>
                                    <td>{{ average_grade|index:forloop.counter0 }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Discipline</th>
                            <th scope="col">Task</th>
                            <th scope="col">Description</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                        {% for obj in assignments %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th><a href="
                                        {% if student is not None %}
                                            {% url 'discipline_student' pk=discipline.pk class=class.pk %}
                                        {% else %}
                                             {% url 'discipline_teacher_student' pk=discipline.pk class=class.pk student=obj.student.pk %}
                                        {% endif %}
                                    ">{{ discipline }}</a></th>
                                    <th><a href="
                                         {% if student is not None %}
                                            {% url 'assignment_student_update' pk=obj.pk %}
                                         {% else %}
                                            {% url 'assignment_grade' pk=obj.pk %}
                                         {% endif %}
                                    ">{{ obj.task.title }}</a></th>
                                    <td>{{ obj.task.description|truncatechars:50 }}</td>
                                    <td>{{ obj.deadline }}</td>
                                    {% if obj.grade is not None %}
                                        <td>graded</td>
                                    {% elif obj.grade_comment|length > 0 %}
                                        <td>commented</td>
                                    {% elif obj.solution|length > 0 %}
                                        <td>submitted</td>
                                    {% else %}
                                        <td>not done</td>
                                    {% endif %}
                                    <td>{{ obj.grade }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% endif %}
            <input class="btn btn-primary" type="button"
                   onclick="location.href='javascript:history.back()'" value="Go back" />
            {% if teacher is not None %}
                <input class="btn btn-danger float-right" type="button"
                        onclick="location.href='{% url 'assignment_create' %}'" value="Assign task" />
            {% endif %}
        </div>
    </main>
{% endblock %}z