{% extends "base.html" %}
{% load index %}

{%  block title %}
    My Disciplines
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1>My Disciplines</h1>
            </div>
            {% if class_disciplines is None %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    Ask the admin to give you access
                </div>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Discipline</th>
                            <th scope="col">Teacher</th>
                            <th scope="col">Assignments (graded/total)</th>
                            <th scope="col">Average grade</th>
                        </tr>
                    </thead>
                    {% for obj in class_disciplines %}
                        <tbody>
                            <tr>
                                <th scope="row"><a href="{% url 'discipline' pk=obj.discipline.pk %}">{{ obj.discipline }}</a></th>
                                <td>{{ obj.teacher }}</td>
                                <td>{{ tasks_done|index:forloop.counter0 }} / {{ tasks_total|index:forloop.counter0 }}</td>
                                <td>{{ average_grade|index:forloop.counter0 }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}