{% extends "base.html" %}

{%  block title %}
    My Profile
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1>My Profile</h1>
            </div>
            <div class="row">
                <div class="info-text col-12 col-md-5 offset-md-2">
                    <p class="mb-0">First name: {{ user.first_name }}</p>
                    <p>Last name: {{ user.last_name }}</p>
                    {% if teacher is not None %}
                        <p>Status: teacher</p>
                    {% endif %}
                    {% if student is not None %}
                        <p>Status: student</p>
                        <p>Class: {{ student.class_school }}</p>
                    {% endif %}

                    <input class="mt-3 btn btn-secondary" type="button"
                           onclick="location.href='{% url 'account_change_password' %}'" value="Change password" />
                </div>
                <div class="pt-3 pt-lg-0 mt-3 mt-md-0 mx-md-3 info-text col-12 col-md-4">
                    <p><a href="{% url 'discipline_list' %}">My disciplines</a></p>
                    {% if student is not None %}
                        <p><a href="{% url 'assignment_list' %}">My assignments</a></p>
                    {% endif %}
                    {% if teacher is not None %}
                        <p><a href="{% url 'task_available_list' %}">Available tasks</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}