{% extends "base.html" %}
{% load i18n %}
{% load index %}

{%  block title %}
    My tasks
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1>My tasks</h1>
            </div>
            {% if student is None %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    Ask the admin to give you access
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Discipline</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                        {% for obj in tasks %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th><a href="{% url 'discipline_student' pk=obj.task.discipline.pk class=obj.student.class_school.pk %}">
                                        {{ obj.task.discipline }}</a></th>
                                    <th><a href="{% url 'assignment_student_update' pk=obj.pk %}">{{ obj.task.title }}</a></th>
                                    <td>{{ obj.task.description|truncatechars:50 }}</td>
                                    <td>{{ obj.deadline }}</td>
                                    {% if obj.grade is not None  %}
                                        <td>graded</td>
                                    {% elif obj.assigned|date:"YmdHis" != obj.last_submission|date:"YmdHis"  %}
                                        <td>submitted</td>
                                    {% else %}
                                        <td>not done</td>
                                    {% endif %}
                                    <td>{{ obj.grade }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% endif %}
            <input class="btn btn-primary" type="button"
                   onclick="location.href='javascript:history.back()'" value="Go back" />
            {% if teacher is not None %}
                <input class="btn btn-danger float-right" type="button"
                    onclick="location.href='{% url 'assignment_create' %}'" value="Assign task" />
             {% endif %}
        </div>
    </main>
{% endblock %}