{% extends "base.html" %}
{% load index %}

{%  block title %}
    {{ task.discipline }} {{ class }} Assignments
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1><a href="{% url 'discipline_teacher' pk=task.discipline.pk class=class.pk %}">
                    {{ task.discipline }} {{ class }}</a> Assignments</h1>
            </div>
            {% if teacher is None %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    Ask the admin to give you access
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Deadline</th>
                            <th scope="col">Status</th>
                            <th scope="col">Grade</th>
                        </tr>
                    </thead>
                        {% for obj in assignments %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th><a href="{% url 'discipline_teacher_student' pk=task.discipline.pk class=class.pk student=obj.student.pk %}">
                                        {{ obj.student.user.last_name }} {{ obj.student.user.first_name }}</a></th>
                                    <th><a href="{% url 'assignment_grade' pk=obj.pk %}">{{ obj.task.title }}</a></th>
                                    <td>{{ obj.deadline }}</td>
                                    {% if obj.grade is not None %}
                                        <td>graded</td>
                                    {% elif obj.grade_comment|length > 0 %}
                                        <td>commented</td>
                                    {% elif obj.solution|length > 0 %}
                                        <td>submitted</td>
                                    {% else %}
                                        <td>not done</td>
                                    {% endif %}
                                    <td>{{ obj.grade }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                </table>
            {% endif %}
            <input class="btn btn-primary" type="button"
                   onclick="location.href='javascript:history.back()'" value="Go back" />
            <input class="btn btn-danger float-right" type="button"
                   onclick="location.href='{% url 'task_update' pk=task.pk %}'" value="Update task" />
        </div>
    </main>
{% endblock %}