{% extends "base.html" %}
{% load i18n %}
{% load index %}

{%  block title %}
    Available tasks
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h1>Available tasks</h1>
            </div>
            {% if teacher is None %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    Ask the admin to give you access
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% else %}
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Discipline</th>
                            <th scope="col">Task</th>
                            <th scope="col">Description</th>
                            <th scope="col">Author</th>
                        </tr>
                    </thead>
                        {% for obj in tasks %}
                            <tbody>
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <th>{{ obj.discipline }}</th>
                                    <th><a href="{% url 'task_update' pk=obj.pk %}">{{ obj.title }}</a></th>
                                    <td>{{ obj.description|truncatechars:50 }}</td>
                                    <td>{{ obj.author }}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                </table>
                <input class="btn btn-primary" type="button"
                       onclick="location.href='javascript:history.back()'" value="Go back" />
                <input class="btn btn-danger float-right" type="button"
                       onclick="location.href='{% url 'task_create' %}'" value="Create task" />
            {% endif %}
        </div>
    </main>
{% endblock %}