<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car_owner_info</title>
</head>
<body>
    <ul>
        <li>Username: {{car_owner.username}};</li><br>
        <li>Name: {{car_owner.name}};</li>
        <li>Surname: {{car_owner.surname}};</li>
        <li>Date of birth: {{car_owner.birthday}}.</li>
        <li>Passport ID: {{car_owner.passport}}.</li>
        <li>Home address: {{car_owner.home_address}}.</li>
        <li>Nationality: {{car_owner.nationality}}.</li>
    </ul>
</body>
</html>