{% extends "base.html" %}

{% block content %}
<h2>Race Details</h2>
<div class="container" style="margin-left: 30px;">
    <h3>Race Name</h3>
    {{ object.name }}
    <h3>Race date</h3>
    {{ object.date }}
    <h4>Race result</h4>
    {{ object.result }}
</div>
<div class="racers_list">
    <h3>Participants</h3>
    <ul style="list-style: none;">
        {% for racer_reg in racer_regs %}
        <li style="height: 45px; line-height: 45px; background-color: #E0E0E0; margin-top: 7px; padding-left: 25px; display: flex;">
            <div>Гонщик: <strong>{{ racer_reg.racer.base_user.username}}</strong></div>
            <div style="margin-left: 14px;">Команда: <strong>{{ racer_reg.racer.team }}</strong></div>
            <div style="margin-left: 14px;">Автомобиль: <strong>{{ racer_reg.car }}</strong></div>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    {% if user.is_authenticated %}
    {% if is_racer %}
    {% if in_race %}
    <div>
        <ul style="display: flex; list-style: none;">
            <li>
                <a href="#" style="text-decoration: none;">
                    <div
                        style="display: block; margin: 7px 0; height: 25px; background-color: aquamarine; border-radius: 7px; padding: 7px 7px; line-height: 25px;">
                        Вы участник
                    </div>
                </a>
            </li>
            <li>
                <a href="edit" style="text-decoration: none;">
                    <div
                        style="display: block; margin: 7px 14px; height: 25px; background-color: cadetblue; border-radius: 7px; padding: 7px 7px; line-height: 25px;">
                        Редактировать заявку
                    </div>
                </a>
            </li>
            <li>
                <a href="leave" style="text-decoration: none;">
                    <div
                        style="display: block; margin: 7px 14px; height: 25px; background-color: coral; border-radius: 7px; padding: 7px 7px; line-height: 25px;">
                        Покинуть гонку
                    </div>
                </a>
            </li>
        </ul>
    </div>
    {% else %}
    <a href="registration">
        Участвовать
    </a>
    {% endif %}
    {% else %}
    Вы не можете участовать в гонках
    {% endif %}
    {% else %}
    Для участия в гонке необходимо автризоваться
    {% endif %}
</div>
<div class="comments">
    <h3>Comments</h3>
    <ul style="list-style: none;">
        <!-- Iterate over object_list -->
        {% for comment in comments %}
        <!-- Display Objects -->
        <li style="background-color: #E0E0E0; margin-top: 7px; padding-left: 25px">
            <div class="comment-text" style="padding-top: 7px;">
                <div style="margin: 0; font-size: 21px;">
                    {{ comment.text }}
                </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    {% if comment.comment_type == 1 %}
                    Вопрос о сотрудничестве
                    {% elif comment.comment_type == 2 %}
                    Вопрос о гонках
                    {% else %}
                    Иное
                    {% endif %}
                </div>
                <div style="text-align: end; padding-bottom: 7px; padding-right: 16px;">
                    {{ comment.time }}
                    <strong>{{ comment.commentator.user_info.username }}</strong>
                    <em>{{ comment.commentator.rating }}</em>
                </div>
            </div>

        </li>
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>Комментариев пока нет :(</li>
        {% endfor %}
    </ul>
</div>
<div class="add-comment">
    {% if user.is_authenticated %}
    {% if is_racer %}

    {% else %}
    <form method="post" action="add_comment">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ comment_form.text.label_tag }}</td>
                <td>{{ comment_form.text }}</td>
            </tr>
            <tr>
                <td>{{ comment_form.comment_type.label_tag }}</td>
                <td>{{ comment_form.comment_type }}</td>
            </tr>
        </table>
        <input type="submit" value="Commit">
    </form>
    {% endif %}
    {% else %}
    Авторизируйтесь для комментирования
    {% endif %}
</div>
{% endblock %}