<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation</title>
</head>
<body>
<div style="display: flex; align-items: center; flex-direction: column">
    <h1>Room {{ room.number }} </h1>
    <h4>Room type : {{ room.type }}</h4>
    <h4>Max occupancy : {{ room.max_occupancy }}</h4>
    {% for message in messages %}
        <h5 style="color: red">{{ message }}</h5>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reserve</button>
    </form>
</div>
</body>
</html>