# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Денис\Desktop\backend\ITMO_ICT_WebDevelopment_2021-2022\students\K33402\Legin_Denis\LaboratoryWork_3\weather\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
