<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main page</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/mainpage/">
                        <span class="glyphicon glyphicon-th-list"></span>&nbsp;Main page
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="topNavBar">
                    <ul class="nav navbar-nav"> 
                        <li>
                            <a href="/places/list/">
                                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;Places
                            </a>
                        </li>
                        <li>
                            <a href="/search/">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search a place
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/user/create/">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 
        {% block body %}
        {% endblock %}
    </body>
</html>