<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main page</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block body %}
        <div>
            </script>
            <h2>
                <br>
                <a href="/user/list/">Users</a><br>
                <a href="/reserve_place/">Reserve a place</a><br>
                <a href="/comment/">Leave a comment</a><br>
                <a href="/reserve/list">Reserved</a><br>
                <br>
            </h2>
        </div>
        {% endblock %}
    </body>
</html>