<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete accommodation</title>
    </head>

    <body>
        {% extends 'base.html' %}
        {% block body %}
        <form method="post">{% csrf_token %}
            <p>Delete the reservation? "{{ object }}"?</p>
            <input type="submit" value="Confirm">
        </form>
        <br>
        {% endblock %}
    </body>
</html>