<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bill List</title>
</head>
<body>
    <div class="main">
    <h1>Bills</h1>
        {% for b in bills %}
            <li>Date_register: {{ b.date_register }}</li>
            <li>Checkin: {{ b.date_checkin }} {{ b.time_checkin }}</li>
            <li>Checkout: {{ b.date_checkout }} {{ b.time_checkout }} </li>
            <li>Client: {{ b.id_client.last_name }}</li>
            <li>Room: {{ b.id_room.number }}</li>
            <li>Hotel: {{ b.id_room.id_hotel.name }}</li>
            <a href="/bill/update/{{ b.id }}/">Update</a> |
            <a href="/bill/delete/{{ b.id }}/">Delete</a>
        <hr>
        {% endfor %}
    </div>
</body>
</html>