<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room List</title>
</head>
<body>
    <div class="main">
        <h1>Rooms</h1><a href="/bill/create/">Order a room</a>
        {% for r in rooms %}
            <li>Room number: {{ r.number }}</li>
            <li>Type: {{ r.type }}</li>
            <li>Price: {{ r.price }}</li>
            <li>State: {{ r.state }}</li>
            <li>Hotel: {{ r.id_hotel.name }}</li>
        <hr>
        {% endfor %}
    </div>
</body>
</html>