<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <title>AllHotels</title>
</head>
<body>
<h1>#Hotels</h1>

<hr/>
{% for hotel in hotels %}
    <ul>
        <h3>{{ hotel.name }}</h3>
        <li>Address: {{ hotel.address }}</li>
        <li>Description: {{ hotel.description }}</li>
        <li><a href="/hotel/{{ hotel.id }}/" class="text-info">More</a></li>
    </ul>
    <hr/>
{% endfor %}

<a href="/">>>>Back to main page</a>
</body>
</html>