<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <title>UpdateReservation</title>
</head>
<body>
<h1>#Edit your reservation in room №{{ object.room.number }}</h1>
    <form method="POST" autocomplete="on">
        {% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Save" class="btn btn-outline-info btn-lg">
    </form>
    <a href="/profile/">Back to profile</a>
</body>
</html>