{% extends "conf/base.html" %}

{% block body %}

    <h2>Conference overview</h2>
    {% for conference in confs %}
        <div class="card">
            <div class="card-body">
                <div class="display-4 mb-2">{{ conference.name }}</div>
                <div class="fs-4">About: {{ conference.topic }}</div>
                <div class="fs-4">{{ conference.description }}</div>
                <div class="fs-4">When: {{ conference.date }}</div>
                <div class="fs-4">Where: {{ conference.place }}</div>
                <div class="fs-4">Conditions: {{ conference.conditions }}</div>
                <ul>
                    {% for usr in conference.members.all %}
                        <li> {{ usr.username }}</li>
                    {% endfor %}
                </ul>
                {% if user.is_authenticated %}
                    <a class="btn btn-dark ml-auto mb-2" href="{% url 'newreview' conference.pk %}">
                        Write review
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock %}