{% extends "../base.html" %}
{% block page %}
    <h1 class="mb-5">Конференции</h1>
        {% if object_list %}
            {% for conf in object_list %}
            <article>
                <h2>{{ conf.name }}</h2>
                <p>{{ conf.min_text }}</p>
                <p>Пройдет в {{ conf.location }}</p>
                <p>Условия участия: {{ conf.terms_participation }}</p>
                <a href="{% url 'conference_detail' pk=conf.id %}">Узнать подробности -></a>
                <hr/>
            </article>
        {% endfor %}
        {% endif %}
{% load bootstrap3 %}
{% bootstrap_pagination page_obj %}
{% endblock %}
