<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>

<body>

<div>
    </script>
    <h2>
        <br>
        <a href="/guest/create/">Зарегистрировать</a><br>
        <a href="/guest/list/">Гости</a><br>
        <a href="/book/">Забронить номер</a><br>
        <a href="/book/list/">Все бронирования</a><br>
        <a href="/room/list/">Номера</a><br>
        <a href="/hotel/list/">Отели</a><br>
        {#        <a href="/accom/update/:id">Обновить бронирование</a><br>#}
        {#        <a href="/accom/delete/:id">Удалить бронирование</a><br>#}
        <a href="/month/">Месяц</a>
        <br>
        <br>
    </h2>
</div>
</body>
</html>