<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
</head>
<header>
    <nav>
        <br>
        <a href="/accounts/login/">Log in</a>
        <a href="/accounts/signup/">Sign up</a><br>
        <br>
    </nav>
</header>
<body>
    <li>Welcome to the Homework Board!</li>
    <br>
    <li>Please login to get started.</li>
</body>
</html>