<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publisher detail</title>
</head>
<body>
      <h1>{{ object }}</h1>
      <p><strong>State_number:</strong> {{ object.state_number }}</p>
      <p><strong>Brand:</strong> {{ object.brand }}</p>
      <p><strong>Model:</strong> {{ object.model }}</p>
      <p><strong>Color:</strong> {{ object.Color }}</p>
      <a href="/publisher/list/">Get back</a>
</body>
</html>