<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
<style>
    body {
        background-color: #F1FAEE;
        text-align: center;
    }

    h2 {
        font-family: sans-serif;
        background-color: #A8DADC;
    }

    a:link {
        color: #1D3557;
    }

    a:visited {
        color: #457B9D;
    }

    a:hover {
        color: #E63946;
    }

    a:active {
        color: #E63946;
    }
</style>
<div>
    </script>
    <h2>
        <br>
        <a href="/guest/create/">Sign Up</a><br>
        <a href="/guest/list/">Our guests</a><br>
        <a href="/book/">Book a room</a><br>
        <a href="/book/list/">All bookings</a><br>
        <a href="/room/list/">Our rooms</a><br>
        <a href="/hotel/list/">Our hotels</a><br>
        <a href="/accom/5/update/">Update booking</a><br>
        <a href="/accom/5/delete/">Delete booking</a><br>
        <a href="/month/">Last month</a>
        <br>
        <br>
    </h2>
</div>
</body>
</html>