<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room list</title>
</head>
<body>
<style>
    body {
        background-color: #F1FAEE;
        font-family: sans-serif;
        font-size: large;
    }

    a:link {
        color: #1D3557;
    }

    a:visited {
        color: #457B9D;
    }

    a:hover {
        color: #E63946;
    }

    a:active {
        color: #E63946;
    }
</style>
<div class="main">
    {% for hotel in hotels %}
        <li>Name: {{ hotel.name }}</li>
        <li>Owner: {{ hotel.owner }}</li>
        <li>Address: {{ hotel.address }}</li>
        <li>Description: {{ hotel.description }}</li>
        <hr/>
    {% empty %}
        No hotels
    {% endfor %}
</div>
<br>
<a href="/comment/">Leave a comment</a><br>
<a href="/comment/list/">Comments</a><br>
<a href="/home/">Home</a>
</body>
</html>
