<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room list</title>
</head>
<body>
<style>
    body {
        background-color: #F1FAEE;
        font-family: sans-serif;
        font-size: large;
    }

    a:link {
        color: #1D3557;
    }

    a:visited {
        color: #457B9D;
    }

    a:hover {
        color: #E63946;
    }

    a:active {
        color: #E63946;
    }
</style>
<div class="main">
    {% for room in rooms %}
        <li>Number: {{ room.number }}</li>
        <li>Type: {{ room.type }}</li>
        <li>Price: {{ room.price }}</li>
        <li>Capacity: {{ room.capacity }}</li>
        <li>Amenities: {{ room.amenities }}</li>
        <li>Hotel: {{ room.hotel.name }}</li>
        <hr/>
    {% empty %}
        No rooms
    {% endfor %}
</div>
<br>
<a href="/home/">Home</a>
</body>
</html>