<!-- templates/base.html -->
{% load static %}
{% load bootstrap3 %}
<html lang="ru">
<head>
    <title>conference</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">КонференцияRu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Конференции</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/accounts">Профиль</a>
                </li>
            </ul>
            <form action="{% url 'index' %}" class="navbar-form navbar-left d-flex" method="get" accept-charset="utf-8">
                <div class="input-group">
                    <input id="search" name="search" type="text" class="form-control" placeholder="Поиск">
                    <span class="input-group-btn d-flex">
                        <button type="submit" class="btn btn-default"><img class="img_search" src="{% static 'img/search.svg' %}" alt="Поиск"></button>
                    </span>
                </div>
            </form>
            {% if user.is_authenticated %}
                <a href="/accounts/logout" class="ms-auto ml-2 btn btn-outline-success my-2 my-sm-0" type="submit">Log
                    out</a>
            {% else %}
                <a href="/accounts/login" class="ms-auto ml-2 btn btn-outline-success my-2 my-sm-0" type="submit">LogIn</a>
                <a href="/accounts/signup" class="ms-auto ml-2 btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</a>
            {% endif %}
        </div>
    </nav>
</header>
<div class="page p-3">
        <div class="main">
            {% block content %}
                {% block page %}

                {% endblock page %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>