<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
    <ul>
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <li> Number: {{ object.state_number }}</li>
    <li> Brand: {{ object.brand }}</li>
    <li> Model: {{ object.model }}</li>
    <li> Color: {{ object.color }}</li>

    <hr/>
    <!-- If objet_list is empty  -->
    {% empty %}
    <li>No objects yet.</li>
    {% endfor %}
</ul>
</body>
</html>