<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <div class="main">
        <ul>
            <li>First Name: {{ data.first_name }}</li>
            <li>Last Name: {{ data.last_name }}</li>
            <li>Birthday: {{ data.date_of_birth }}</li>
            <li>Sex: {{ data.sex }}</li>
            <li>Passport: {{ data.passport }}</li>
            <li>Address: {{ data.address }}</li>
            <li>Nationality: {{ data.address }}</li>
        </ul>
        <span><a href="/comment/">Comment!</a></span>
    </div>
</body>
</html>