<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
</head>
<body>
        <div class="main">
            {% for car in object_list %}
                <li>Number: {{ car.number }}</li>
                <li>Brand: {{ car.brand }}</li>
                <li>Model: {{ car.model }}</li>
                <li>Color: {{ car.color }}</li>
                <hr/>
                {% empty %}
                No cars
            {% endfor %}
        </div>
</body>
</html>
