<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels</title>
</head>
<body>
<style>
    body {
        background-color: #F1FAEE;
        font-family: sans-serif;
        font-size: large;
    }

    a:link {
        color: #1D3557;
    }

    a:visited {
        color: #457B9D;
    }

    a:hover {
        color: #E63946;
    }

    a:active {
        color: #E63946;
    }
</style>
<h1>Hotels</h1>
{% for hotel in object_list %}
    <p><strong>Name:</strong> {{ hotel.name }}</p>
    <p><strong>Owner:</strong> {{ hotel.owner }} </p>
    <p><strong>Address:</strong> {{ hotel.address }} </p>
    <p><strong>Description:</strong> {{ hotel.description }} </p>
    <p><a class="btn btn-primary" href="/hotel/{{ hotel.id }}" role="button">Details</a></p>
    <br>
{% empty %}
    No hotels
{% endfor %}
<br>
<a href="/home/">Home</a>
</body>
</html>