<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List rooms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="p-3">
<table class="table">
    <tr>
        <th>Hotel</th>
        <th>Room number</th>
        <th>Beds</th>
        <th>Smoking allowed</th>
        <th>Price per night</th>
    </tr>
    {% for room in object_list %}
        <tr>
            <td>{{ room.hotel.name }}</td>
            <td><a class="link-secondary" href="{% url 'room-view' room.id %}">{{ room.number }}</a></td>
            <td>{{ room.beds }}</td>
            {% if room.smoking_allowed %}
                <td><b>V</b></td>
            {% else %}
                <td><b>X</b></td>
            {% endif %}
            <td>{{ room.price }}</td>
        </tr>
    {% empty %}
        <p>No rooms</p>
    {% endfor %}
</table>
</body>
</html>