<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main">
        {% for data in dataset %}.
            <li>Username: {{ data.username }}</li>
            <li>First name: {{ data.first_name }}</li>
            <li>Last name: {{ data.last_name }}</li>
            <li>Birthday: {{ data.date_of_birthday }}</li>
            <li>Passport: {{ data.passport }}</li>
            <li>Address: {{ data.address }}</li>
            <li>Nationality: {{ data.nationality }}</li>
    <hr/>

    {% endfor %}

    </div>

</body>
</html>