<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">EDiary</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homework_submit' %}">Сдать работу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diary' %}">Дневник</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <span>{{ user }}</span>
                    </div>
                    <a class="btn btn-danger ms-3" href="{% url 'logout' %}">Выйти</a>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'login' %}">Авторизоваться</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>