{% extends "base.html" %}

{%  block title %}
    Assignment Deletion
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h2>Assignment Deletion</h2>
            </div>
            {% if user.pk != object.get_teacher.user.pk %}
                <div class="alert alert-danger">
                    You have no right to view this information.
                    You can only see your students submissions
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% else %}
                <div class="row">
                     <div class="py-3 col-md-6 col-xl-5 offset-xl-1 order-2 order-md-1 order-xl-1">
                    <form method="post">
                            {% csrf_token %}
                            <div class="info-text">
                                 <p>Discipline: <a href="{% url 'discipline_teacher' pk=object.task.discipline.pk class=object.student.class_school.pk %}">
                                     {{ object.task.discipline }} {{ object.student.class_school }}</a></p>
                                 <p>Title: <a href="{% url 'task' pk=object.task.pk class=object.student.class_school.pk %}">
                                    {{ object.task.title }}</a></p>
                                 <p>Assigned: {{ object.assigned }}</p>
                                 <p>Deadline: {{ object.deadline }}</p>
                                 {% if object.assigned|date:"YmdHis" == object.last_changed|date:"YmdHis" %}
                                    <p>Last changed: None</p>
                                 {% else %}
                                     <p>Last changed: {{ object.last_changed }}</p>
                                 {% endif %}
                                 <p>Student: {{ object.student.user.last_name }} {{ object.student.user.first_name }}</p>
                                 <p>Solution: {{ object.solution }}</p>
                                 <p>Grade: {{ object.grade }}</p>
                                 {% if object.grade_comment|length > 0 %}
                                     <p>Grade comment: {{ object.grade_comment }}</p>
                                 {% endif %}
                                 <div class="alert alert-danger mb-0">
                                    Do you really want to delete this assignment?
                                 </div>
                                 <div class="pt-3">
                                     <input class="btn btn-danger" type="submit" value="Delete" />
                                     <input class="btn btn-primary float-right" type="button"
                                            onclick="location.href='javascript:history.back()'" value="Cancel" />
                                 </div>
                            </div>
                        </form>
                    </div>
                    <div class="py-3 col-md-6 col-xl-6 info-text order-1 order-md-2 order-xl-2">
                        <p>Description: {{ object.task.description }}</p>
                     </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}