{% extends "base.html" %}

{%  block title %}
    Task Deletion
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container py-3">
            <div class="d-flex justify-content-center">
                <h2>Task Deletion</h2>
            </div>
            {% if user.pk != object.author.user.pk %}
                <div class="alert alert-danger">
                    You have no right to delete this task.
                    Only author {{ object.author.user.first_name }} {{ object.author.user.last_name }} can do it
                    <p class="pt-1 mb-0"><a href="javascript:history.back()">Go Back</a></p>
                </div>
            {% else %}
                <div class="row">
                     <div class="py-3 col-md-6 col-xl-5 offset-xl-1 order-1 order-md-2 order-xl-2">
                        <form method="post">
                            {% csrf_token %}
                            <div class="info-text">
                                <p>Discipline: {{ object.discipline }} </p>
                                <p>Title: {{ object.title }}</p>
                                <div class="alert alert-danger mb-0">
                                    Do you really want to delete this task?
                                 </div>
                                <div class="pt-3">
                                    <input class="btn btn-danger col-4 col-lg-2" type="submit" value="Delete" />
                                    <input class="btn btn-primary float-right" type="button"
                                            onclick="location.href='javascript:history.back()'" value="Cancel" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="py-3 col-md-6 col-xl-6 info-text order-1 order-md-2 order-xl-2">
                        <p>Description: {{ object.description }}</p>
                     </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}