{% extends "auctions/layout.html" %}

{% block body %}

    {% if request.session.new_bid_error %}
        <h4 style='color: red;'>{{ request.session.new_bid_error }}</h4>
    {% endif %}
    
    {% if object.active %}
        {% if is_author %}
            <p>This is your listing. You can <a href="{% url 'close_listing' object.pk %}">close this listing</a></p>
        {% endif %}
    {% else %}
        {% if is_winner %}
            <h3>You have won this listing!</h3>
        {% else %}
            <h3>This listing has been closed by its author.</h3>
        {% endif %}
    {% endif %}

    <h2>{{ object.title }}</h2>

    <p>Description: {{ object.description }}</p>
    <p>Starting bid: {{ object.starting_bid }}$</p>
    {% if object.current_price %}
        <h4>Current price: {{ object.current_price }}</h4>
    {% else %}
        <h4>No bids yet. Be the first one to make it!</h4>
    {% endif %}
    {% if object.highest_bidder %}
        <h3>Highest bidder: {{ object.highest_bidder }}</h3>
    {% endif %}

    {% if object.active %}
        {% if user.is_authenticated %}
            <form action="{% url 'new_bid' object.pk %}" method='post'>{% csrf_token %}
                <p><label for="new_bid">My bid:</label>
                <input id="new_bid" type="text" name="bid_value">$<input type="submit" value="Bid"></p>
            </form>
        {% else %}
            <p>To bid on this listing, sign in.</p>
        {% endif %}
    {% endif %}

    {% if object.image_url %}
        <img src='{{ object.image_url }}'>
    {% else %}
        <p>No image provided</p>
    {% endif %}
    {% if object.category %}
        <p>Categories:</p>
        <p>{{ listing.category }}</p>
    {% else %}
        <p>No categories provided</p>
    {% endif %}
    <p>Created by: {{ object.created_by }}</p>
    <p>Created at: {{ object.created_at }}</p>

    {% if user.is_authenticated %}
        <form action="{% url 'make_comment' object.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}

    {% for comment in comments %}
        <div><hr>
            <p>Comment by {{comment.author}}</p>
            <p>{{ comment.text }}</p>
            <p>Rating: {{ comment.rating }}</p>
            <p>Posted at: {{ comment.posted }}</p>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        {% if object in user.watchlist.items.all %}
            <a href="{% url 'remove_from_watchlist' object.pk %}" style='color: red;'>Remove from my watchlist</a>
        {% else %}
            <a href="{% url 'add_to_watchlist' object.pk %}" style='color: green;'>Add to my watchlist</a>
        {% endif %}
    {% endif %}
{% endblock %}