{% extends "base.html" %}

{% block content %}
    <div class="container" style="margin-left: 30px;">
        <h2>Username:</h2>
        <b>{{ user.username }}</b>
        <h4>Статус:</h4>
        {% if is_racer %} гонщик {% else %} зритель {% endif %}
        {% if is_racer %}
            <h4>Описание:</h4>
            {{ racer.description }}
            <h4>Опыт:</h4>
            {{ racer.experience }}
        {% endif %}
        <div class="racers_list">
            <h3>Your races:</h3>
            <ul style="list-style: none;">
                {% for race in race_list %}
                    <li style="height: 45px; line-height: 45px; background-color: #E0E0E0; margin-top: 7px; padding-left: 25px">
                        <a href="/race/{{ race.pk }}" style="text-decoration: none;">
                            <div style="display: flex; justify-content: space-between;">
                                <div>{{ race.name }}</div>
                                <div style="margin-right: 27px;">{{ race.date }}</div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}