<!-- car_list.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car list</title>
</head>

<body>
  <span><h1>Cars</h1><a href="/cars/create/">Add new one</a></span>
  <ul>
	{% for car in object_list %}
	<li><strong>Goverment number:</strong> {{ car.gov_no }}, actions: <a href="/cars/{{ car.id }}/update/">Edit</a> | <a href="/cars/{{ car.id }}/delete/">Delete</a> | <a href="/cars/{{ car.id }}/">Detail</a>
  	<p><strong>Brand:</strong> {{ car.brand }}</p>
    <p><strong>Model:</strong> {{ car.model }}</p>
    <p><strong>Color:</strong> {{ car.color }}</p>

	</li>
	{% empty %}
	<li>No cars yet.</li>
	{% endfor %}
  </ul>
</body>

</html>