{% extends "base.html" %}

{%  block title %}
    Password Change
{% endblock %}

{%  block content %}
    <main role="main">
        <div class="container pt-3">
            <div class="d-flex justify-content-center">
                <h2>Password change</h2>
            </div>
            <div class="py-3 d-flex justify-content-center col-2 offset-5">
                <form method="post">
                    {% csrf_token %}

                    {% for field in form.visible_fields %}
                        <div class="mb-1">
                            {{ field.label_tag }}
                            <div class="mb-1">
                                {{ field }}
                            </div>
                            {%  if field.errors  %}
                                <div class="mt-2 p-0 alert alert-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="mt-2 p-1 alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="my-3">
                        <input class="btn btn-danger float-left" type="submit"  onclick="location.href='{% url 'profile' %}'"
                               value="Cancel" />
                        <input class="btn btn-primary float-right" type="submit" value="Change" />
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}