<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
</head>
<body>
        <div class="main">
            {% for car in object_list %}
                <li>License plate: {{ car.plate }}</li>
                <li>Make: {{ car.make }}</li>
                <li>Model: {{ car.model }}</li>
                <li>Color: {{ car.color }}</li>
                <hr/>
                {% empty %}
                No cars yet
            {% endfor %}
        </div>
</body>
</html>