{% extends "../base.html" %}
{% block content %}
<div class="d-flex justify-content-center mt-5">
    <div class="card w-50" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Регестарция</h5>
        <p>Уже есть аккаунт? Тогда пожалуйста <a href="{{ login_url }}">войдите</a>.</p>

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="/" />
          {% endif %}
          <button type="submit" class="btn btn-primary">Регестрация</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}